.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  margin-top: 40px;
  margin-bottom: 20px;
}

.main-text {
  color: #6d396b;
  font-family: Roboto;
  font-size: 70px;
  font-weight: 500;
}
