.background {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Roboto;
}

.review-heading {
  font-weight: 500;
  font-size: 50px;
}

.review-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
}

.button {
  background-color: transparent;
  border: 0px;
  color: white;
}

.para {
  color: black;
  text-align: center;
  font-weight: 500;
}
