.project-item {
  background-color: #ffffff;
  border-radius: 8px;
  width: 220px;
  list-style-type: none;
}

.project-img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project-name {
  padding: 12px;
  color: #475569;
  font-weight: 500;
}
