.body {
  background: linear-gradient(to right, #1d976c, #93f9b9);
  background-size: cover;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  color: white;
}

h1 {
  font-size: 50px;
}

.input {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px;
  width: 400px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.para {
  display: block;
  margin-top: 30px;
  border: 0px;
  background-color: white;
  color: #219a6f;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  width: 200px;
}
