.background-container {
  background: linear-gradient(to bottom, #9796f0, #fbc7d4);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.game-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}

.emoji-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  list-style-type: none;
  padding: 0;
  margin: 40px auto;
}

@media screen and (max-width: 768px) {
  .emoji-container {
    max-width: 90%;
    margin: 20px auto;
  }
}