.task-form {
  width: 100%;
  max-width: 450px;
}

.form-heading {
  color: #f3aa4e;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 32px;
}

.input-container {
  margin-bottom: 24px;
}

.label {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

.input,
.select {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #64748b;
  border-radius: 4px;
  padding: 12px 16px;
  font-family: 'Roboto';
  font-size: 16px;
  color: #475569;
  outline: none;
}

.input::placeholder {
  color: #64748b;
}

.add-task-button {
  background-color: #f3aa4e;
  color: #1a171d;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 12px 32px;
  cursor: pointer;
  margin-top: 16px;
}