* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.left-section {
  background-color: #131213;
  width: 40%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-section {
  background-color: #000000;
  width: 60%;
  padding: 48px;
}

.tags-heading,
.tasks-heading {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}

.tasks-heading {
  margin-top: 48px;
}