.tasks-container {
  min-height: 200px;
}

.no-tasks-text {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
}

.tasks-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}