.emoji-item {
  margin: 10px;
}

.emoji-button {
  background-color: #ffffff33;
  border: 1px solid #ffffff30;
  border-radius: 30px;
  padding: 30px;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease-in-out;
}

.emoji-button:hover {
  transform: scale(1.05);
}

.emoji-image {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .emoji-item {
    margin: 8px;
  }

  .emoji-button {
    padding: 20px;
    border-radius: 20px;
  }

  .emoji-image {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .emoji-image {
    width: 80px;
    height: 80px;
  }

  .emoji-button {
    padding: 25px;
  }
}