body {
  background-color: white;
  background-size: cover;
  height: 100vh;
}

.card {
  background-color: #150b3e;
  margin: 100px 250px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 34px;
  font-family: Roboto;
}

.top-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.name-profile {
  border-radius: 50%;
  background-color: #c7d2fe;
  color: #7c3aed;
  border: 0px;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 40px;
  font-weight: bold;
  display: inline;
  font-size: 20px;
}

.name {
  color: #c7d2fe;
  display: inline;
  font-style: normal;
  font-weight: 300;
  margin-left: 30px;
}

.middle-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.balance-heading {
  color: #585076;
  font-size: 25px;
  font-weight: 500;
  margin-left: 10px;
}

.balance {
  color: #d4d2db;
  font-size: 50px;
}

.balance-in-rupees {
  color: #585076;
}

.bottom-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.withdraw {
  color: #d4d2db;
  font-weight: 400;
}

.sum-choose {
  color: #585076;
  font-size: 20px;
  font-weight: 600;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  text-align: center;
}
